/* Navigation Section */
#header .navbar {
    background-color: #000;
}

#header .logo {
    width: 6.5rem;
    height: 6.5rem;
}

#header .contact {
    margin: 1rem 0;
    color: #0B60B0;
    border: 0.1rem solid #0B60B0;
    border-radius: 30%;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

#header .contact:hover {
    color: #edf7fc;
    transform: scale(1.1);
    animation: shadowEffect 5s ease;
}

/* Home Section */
body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

.background-section {
    position: relative;
    height: 80vh;
    overflow: hidden;
}

.background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-color: black;
}

.image {
    position: absolute;
    width: 5rem; /* Adjust the size as needed */
    height: 5rem; /* Adjust the size as needed */
}

#home .img-fluid {
    border-radius: 50%;
    opacity: 90%;
    transition: box-shadow 0.3s ease;
}

#home .img-fluid:hover {
    animation: shadowEffect 5s ease;
}

#home .content {
    text-align: center;
    color: #edf7fc;
}

.text {
    transition: color 0.3s ease;
}

.text:hover {
    color: #0B60B0;
}

#home .fw-bold {
    font-size: 4rem;
    font-family: "Merriweather", serif;
    font-weight: 700;
    font-style: normal;
}

#home .fw-light {
    font-size: 3rem;
    font-family: "Fira Sans", sans-serif;
    font-weight: 500;
    font-style: normal;
}

/* About Section */
#about {
    background-color: #edf7fc;
    color: #000;
    text-align: center;
    padding: 5rem 0;
}

.name {
    font-size: 2rem;
    font-family: "Merriweather", serif;
    font-weight: 700;
    font-style: normal;
    padding: 0 0 1rem 0;
    color: #0B60B0;
    transition: color 0.3s ease;
}

.name:hover {
    color: #000;
}

#about .content {
    font-family: "Fira Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
    padding: 0 10%;
    color: #0B60B0;
    text-align: center;
}

/* Skills Section */
#skills {
    padding: 3rem 0;
    background-color: #000;
}

#skills .name {
    color: #edf7fc;
    transition: color 0.3s ease;
}

#skills .name:hover {
    color: #0B60B0;
}

.skill-icon {
    color: #edf7fc;
    font-size: 2rem;
    background-color: #0B60B0;
    padding: 1rem;
    border-radius: 50%;
}

#skills .col {
    padding: 3rem 0;
    margin: 1rem;
    background-color: #edf7fc;
    border-radius: 2rem;
    transition: box-shadow 0.3s ease;
}

#skills .col:hover {
    animation: hover-animation 5s forwards;
}

#skills .skill-head {
    font-family: "Merriweather", serif;
    font-weight: 550;
    font-style: normal;
    color: #0B60B0;
    padding-top: 2rem;
}

#skills .content {
    font-family: "Fira Sans", sans-serif;
    font-weight: 450;
    font-style: normal;
    padding: 1rem 3rem;
    color: #000;
    text-align: center;
}

/* Projects Section */
#projects {
    background-color: #edf7fc;
}

#projects .name {
    padding: 1rem 0;
}

#projects .project-box {
    border: 0.2rem solid #000;
    border-radius: 1rem;
    margin-bottom: 1rem;
    background-color: #000;
    color: #edf7fc;
    height: 15rem;
    width: 20rem;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

#projects .project-box:hover {
    animation: hover-animation 5s forwards;
}

#projects .row {
    padding: 0 12%;
}

#projects .col {
    margin: 1rem 0;
}

#projects .project-head {
    font-family: "Merriweather", serif;
    font-weight: 550;
    font-style: normal;
    color: #edf7fc;
    padding-top: 2rem;
    transition: color 0.3s ease;
}

#projects .project-head:hover {
    color: #0B60B0;
}

#projects .content {
    font-family: "Fira Sans", sans-serif;
    font-weight: 450;
    font-style: normal;
    color: #0B60B0;
    text-align: center;
    margin: 2rem 0;
}

#projects .lib {
    margin: 3rem 0;
}

#projects .ts {
    margin: 1rem 0;
}

/* Experience Section */
#experience {
    background-color: #edf7fc;
    padding-bottom: 2rem;
    padding-top: 0rem;
}

#experience .project-box {
    border: 0.15rem solid #0B60B0;
    border-radius: 1rem;
    background-color: #edf7fc;
    width: 75%;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

#experience .project-box:hover {
    animation: hover-animation 5s forwards;
}

#experience .project-head {
    font-family: "Merriweather", serif;
    font-weight: 550;
    font-style: normal;
    color: #0B60B0;
    padding-top: 2rem;
    transition: color 0.3s ease;
}

#experience .project-head:hover {
    color: #000;
}

#experience .content {
    font-family: "Fira Sans", sans-serif;
    font-weight: 450;
    font-style: normal;
    color: #000;
    text-align: center;
}

/* Footer Section */
#footer {
    background-color: #000;
    padding: 1rem 0 0 0;
}

.contact-icon {
    color: #edf7fc;
    font-size: 2rem;
    background-color: #000;
    padding: 1rem;
    border: 0.1rem solid #edf7fc;
    border-radius: 50%;
    margin: 2rem 0 1rem 0;
    transition: box-shadow 0.3s ease;
}

#footer .row {
    transition: color 0.3s ease;
    padding: 0 40%;
}

.contact-icon:hover {
    color: #0B60B0;
    border: 0.1rem solid #0B60B0;
    box-shadow: 0 0 2rem #0B60B0;
}

#footer .content {
    color: #0B60B0;
    font-family: "Merriweather", serif;
    font-weight: 550;
    font-style: normal;
    font-size: 1.5rem;
    margin: 0;
}

#footer .footer-copyright {
    color: #edf7fc;
    padding-top: 1rem;
    font-family: "Fira Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin-bottom: 0;
}

#footer p{
    margin:0rem;
}

.back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    background-color: #0B60B0;
    color: #edf7fc;
    border: none;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    cursor: pointer;  
    transition: background-color 0.3s, border 0.3s, color 0.3s;  
}

.back-to-top.hover-effect {
    background-color: #edf7fc;
    border: 0.1rem solid #0B60B0;
    color: #0B60B0;
}

/* Scroll Bar */
body::-webkit-scrollbar {
    width: 0.6rem;
    height: 0.6rem;
}

body::-webkit-scrollbar-track {
    background: #000;
}

body::-webkit-scrollbar-thumb {
    background: #0B60B0;
}

body::-webkit-scrollbar-thumb:hover {
    background: #0B60B0;
}

/* Media Query */
@media (max-width: 500px) {
    .image {
        width: 2.5rem;
        height: 2.5rem;
    }

    #header .logo {
        width: 5rem;
        height: 5rem;
    }

    #home .img-fluid {
        height: 130%;
        width: 130%;
        border-radius: 50%;
    }

    #home .fw-bold {
        font-size: 3rem;
    }
    
    #home .fw-light {
        font-size: 2rem;
    }
    

    #home .col-12 {
        margin: 5% 0;
    }

    #projects .row {
        padding: 0%;
    }

    .name {
        font-size: 1.5rem;
    }

    .text{
        font-size:3rem;
    }

    .skill-icon {
        font-size: 2rem;
        padding: 1rem;
    }

    #projects .projects {
        padding: 1.5rem 0;
    }

    #experience .project-box {
        width: 100%;
    }

    #about .content {
        font-size: 1rem;
    }

    #footer .row {
        padding: 0 20%;
    }

    #footer .content {
        font-size: 1rem;
    }

    #footer .contact-icon {
        font-size: 1.5rem;
        padding: 0.75rem;
    }

    #footer .footer-copyright {
        font-size: 0.8rem;
    }

    
}

/* Animation CSS */
@keyframes shadowEffect {
    0% {
        box-shadow: 0 0 2rem #0B60B0;
    }
    100% {
        box-shadow: none;
    }
}

@keyframes hover-animation {
    
    0% {
        box-shadow: 0 0 5rem #0B60B0;
    }
    100% {
        box-shadow: none;
    }
}