/* Navigation Section */

#header .navbar {
    background-color: #000;
    padding: 0 2rem;
}

#header .logo {
    width: 6.5rem;
    height: 6.5rem;
    transition: transform 0.3s ease;
}

#header .logo:hover{
    transform: skew(-10deg, -10deg);

}



#header .contact {
    margin: 1rem 0;
    color: #0B60B0;
    border: 0.1rem solid #0B60B0;
    border-radius: 30%;
    transition: transform 0.3s ease;
    transition: box-shadow 0.3s ease;
}

#header .contact:hover{
    color:#edf7fc;
    transform: scale(1.1);
    box-shadow: 0 0 2rem #0B60B0;


}


/* Home Section */
body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    width: 100%;
    height: 100%;
}

.background-section {
    position: relative;
    height: 100vh;
    overflow: hidden;
}

.background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-color: black;
}

.image {
    position: absolute;
    width: 5rem; /* Adjust the size as needed */
    height: 5rem; /* Adjust the size as needed */
    /* opacity: 0.8; */
}

/* animation content */

#home .img-fluid {
    border-radius: 2rem;
    opacity: 90%;
    transition: box-shadow 0.3s ease;
}

#home .img-fluid:hover{
    box-shadow: 0 0 2rem #0B60B0;
  }
  
#home .content {
    position: relative;
    text-align: center;
    padding-top: 10vh;
    /* padding-left: 24vh; */
    color: #edf7fc;
    display: inline-block;
    /* padding:3rem 2rem; */
}


.text {
    font-size: 3rem;
    background-color: #000;
    transition: color 0.3s ease;
    display: inline;
}

.text:hover {
    color: #0B60B0;
}


#home .fw-bold {
    font-family: "Merriweather", serif;
    font-weight: 700;
    font-style: normal;
}

#home .fw-light {
    font-family: "Fira Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
}

/* About Section */

#about .fw-bold {
    font-family: "Merriweather", serif;
    font-weight: 700;
    font-style: normal;
    font-size: 3rem;
    color: #0B60B0;
    margin: 0;
    text-decoration: underline;
    text-underline-offset: 1.3rem;
    transition: color 0.3s ease;
}


#about .fw-bold:hover {
    color: #000;
}

#about {
    background-color: #edf7fc;
    color: #000;
    text-align: center;
    padding: 7rem 0;

}

.name {
    font-size: 2rem;
    font-family: "Merriweather", serif;
    font-weight: 700;
    font-style: normal;
    padding: 0 0 1rem 0;
    color: #0B60B0;
    text-align: center; 
    transition: color 0.3s ease;
}

.name:hover{
    color:#000;
}

#about .content {
    font-family: "Fira Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
    padding: 0 14rem;
    color: #0B60B0;
    text-align: center;
}

/* Skills Section */

#skills {
    padding: 3rem 0;
    background-color: #000;
}

#skills .name {
    color: #edf7fc;
    transition: color 0.3s ease;
}

#skills .name:hover {
    color: #0B60B0;
}

.skill-icon {
    color: #edf7fc;
    font-size: 2rem;
    background-color: #0B60B0;
    padding: 1rem;
    border-radius: 50%;
}

#skills .col {
    padding: 3rem 0;
    margin: 0.2rem;
    background-color: #edf7fc;
    border-radius: 2rem;
    transition: box-shadow 0.3s ease;
}

#skills .col:hover {
    transform: translateY(-10px);
    box-shadow: 0 0 3rem #0B60B0;
}


#skills .skill-head {
    font-family: "Merriweather", serif;
    font-weight: 550;
    font-style: normal;
    color: #0B60B0;
    padding-top: 2rem;
}

#skills .content {
    font-family: "Fira Sans", sans-serif;
    font-weight: 450;
    font-style: normal;
    padding: 1rem 3rem;
    color: #000;
    text-align: center;
}

/* Projects Section */

#projects {
    background-color: #edf7fc;
    padding: 1rem 18rem;
}

#projects .name {
    padding: 1rem 0;
}

#projects .project-box {
    border: 0.2rem solid #000;
    border-radius: 1rem;
    margin-bottom: 1rem;
    background-color: #000;
    color: #edf7fc;
    height: 15rem;
    width: 20rem;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
  
#projects .project-box:hover {
    /* transform: translateY(-10px); */
    box-shadow: 0 0 2rem #0B60B0;
   

}

#projects .project-head {
    font-family: "Merriweather", serif;
    font-weight: 550;
    font-style: normal;
    color: #edf7fc;
    padding-top: 2rem;
    transition: color 0.3s ease;
}

#projects .project-head:hover {
    color: #0B60B0;
}

#projects .content {
    font-family: "Fira Sans", sans-serif;
    font-weight: 450;
    font-style: normal;
    color: #0B60B0;
    text-align: center;
}

/* Experience Section */

#experience {
    background-color: #edf7fc;
    padding-bottom: 4rem;
    padding-top: 2rem;
}

#experience .project-box {
    border: 0.15rem solid #0B60B0;
    border-radius: 1rem;
    background-color: #edf7fc;
    width: 75%;
    transition: transform 0.3s ease, box-shadow 0.3s ease;

}

#experience .project-box:hover {
    /* transform: translateY(-10px); */
    box-shadow: 0 0 2rem #0B60B0;
}

#experience .project-head {
    font-family: "Merriweather", serif;
    font-weight: 550;
    font-style: normal;
    color: #0B60B0;
    padding-top: 2rem;
    transition: color 0.3s ease;
}

#experience .project-head:hover {
    color: #000;
}

#experience .content {
    font-family: "Fira Sans", sans-serif;
    font-weight: 450;
    font-style: normal;
    color: #000;
    text-align: center;
}

#footer {
    background-color: #000;
    padding: 1rem 0 0 0;
}

.contact-icon {
    color: #edf7fc;
    font-size: 2rem;
    background-color: #000;
    padding: 1rem;
    border: 0.1rem solid #edf7fc;
    border-radius: 50%;
    margin:2rem 0 1rem 0;
    transition: box-shadow 0.3s ease;
}

#footer .row {
    padding: 0 40%;
    transition: color 0.3s ease;
}

.contact-icon:hover {
    color: #0B60B0;
    border: 0.1rem solid #0B60B0;
    box-shadow: 0 0 2rem #0B60B0;
}

#footer .content {
    color: #0B60B0;
    font-family: "Merriweather", serif;
    font-weight: 550;
    font-style: normal;
    font-size: 1.5rem;
    margin:0;
}


#footer .footer-copyright {
    color: #edf7fc;
    padding-top: 1rem;
    font-family: "Fira Sans", sans-serif;
    font-weight: 450;
    font-style: normal;
}

#footer .img-fluid{
    width:29rem;
    height: 29rem;
    padding: 1rem 0;
}

.back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    background-color: #0B60B0;
    color: #edf7fc;
    border: none;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
    /* Initially hidden */
}

.back-to-top:hover {
    background-color: #edf7fc;
    border: 0.1rem solid #0B60B0;
    color: #0B60B0;
}


/* Scroll Bar */

/* Custom scrollbar for webkit browsers */
body::-webkit-scrollbar {
    width: 0.6rem;
    /* Width of the scrollbar */
    height: 0.6rem;
    /* Height of the scrollbar (for horizontal scrollbar) */
}

body::-webkit-scrollbar-track {
    background: #edf7fc;
    /* Background of the scrollbar track */
}

body::-webkit-scrollbar-thumb {
    background: #000;
    /* Color of the scrollbar thumb */
}

body::-webkit-scrollbar-thumb:hover {
    background: #0B60B0;
    /* Color of the scrollbar thumb when hovered */
}